NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://ykhkxztlioryeclijmoc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_FIRST_TIMER=price_1TzoKCECd0ECkskHukQfx9tp
STRIPE_PRICE_STARTER=price_1TzoKCECd0ECkskHGim4Fu55
STRIPE_PRICE_ENTHUSIAST=price_1TzoKCECd0ECkskHPSApxGmL
STRIPE_PRICE_UNLIMITED_VIP=price_1TzoKCECd0ECkskHy6RJqT4I
STRIPE_PRICE_DROP_IN=price_1TzoKCECd0ECkskHkRB2S29t
